/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply my-1 px-6 py-2 bg-orange-600 rounded-md text-white font-bold  shadow-md hover:bg-white hover:text-orange-600 border-2 border-transparent hover:border-orange-600
}

/* Hide scroll bar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide the spinner in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide the spinner in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
